<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<aop:aspectj-autoproxy />  
  

	<bean id="circle" class="spring.aop.demoprogram.Circle">
	<property name="name" value="Circle name"></property>
	</bean>
	
	<bean id="triangle" class="spring.aop.demoprogram.Triangle">
	<property name="name" value="Triangle Name"></property>
	</bean>
	
	<bean id="ShapeServic" class="spring.aop.demoprogram.ShapeService" >
	<property name="message" value="hii"></property>
	</bean>
	<bean id="LoggingAdvice" class="spring.aop.demoprogram.LoggingAspect"/> 

</beans>